

:root{
    --bg-color:#212529;
}




.navbar-nav .nav-item .dropdown-toggle::after {
    display: none; /* Hide the default dropdown icon */
}

.container-fluid.content {
    background-color: rgba(33, 37, 41, 0.9); 
}

.carousel-inner .carousel-item img {
    opacity: 0.4;
}

.about-director{
    background-color: var(--bg-color)
}

